

<div class="loan-item">
    <div class="loan-item-header">
        <div>
            <img src="./images/test_9999001.png" alt="">
        </div>
    </div>
    <div class="loan-item-body">
        <div class="loan-item-left">
            <span>月费率低至</span>
            <div>0.25 <i>%</i></div>
        </div>
        <ul class="loan-item-right">
            <li>最高额100万，最长可分60期</li>
            <li>申请极简，网店一站办理</li>
            <li>硬装软装，轻松带回家</li>
        </ul>
    </div>
    <div class="loan-item-menu">
        <a href="./loan_detail.html" class="loan-item-button">立即申请</a>
    </div>
</div>
