@import "../../../styles/common.less";
// 登录页面
.login {
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.png") no-repeat;
    background-size: 100% 4.48rem;
// login头部
    .login_text {
        width: 100%;
        height: 2.18rem;
        padding-top: 0.48rem;
        padding-left: 0.32rem;
        box-sizing: border-box;
    }
    .login-text-now {
        width: 100%;
        height: 0.56rem;
        font-size: 0.4rem;
        font-weight: 800;
        line-height: 0.56rem;
        color: rgba(51, 51, 51, 1);
    }

    .login-text-now::before {
        content: "";
        display: inline-block;
        width: 0.32rem;
        height: 0.32rem;
        .bgSet();
        background-image: url("../images/login-left-arrows.png");
    }

    .login-text-new {
        width: 100%;
        height: 0.34rem;
        font-size: 0.24rem;
        font-weight: 400;
        line-height: 0.34rem;
        color: rgba(51, 51, 51, 1);
    }
// login主体
    .login_main {
        width: 100%;
        height: 10.5rem;
        padding-left: 0.32rem;
        box-sizing: border-box;
        overflow:auto; 
        -webkit-overflow-scrolling: touch;
    }
    // login主体内容区
    .login_main_content {
        width: 6.86rem;
        height: 3.76rem;
        padding-left: 0.32rem;
        padding-top: 0.48rem;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0.08rem 0.32rem rgba(0, 0, 0, 0.08);
        border-radius: 0.2rem;
    }
    .login_main_phone,
    .login_main_dbpassword {
        width: 100%;
        height: 1.16rem;
        margin-bottom: 0.38rem;
    }
    .login_phone,
    .login_dbpassword {
        width: 100%;
        height: 0.44rem;
        font-size: 0.32rem;
        font-weight: 800;
        color: rgba(51, 51, 51, 1);
        >span{
            .yellowBottom();
        }
    }

    .login_phone_num,
    .login_dbpassword_num {
        width: 6.2rem;
        height: 0.72rem;
        background: rgba(255, 255, 255, 1);
        border-bottom: 0.02rem solid rgba(245, 245, 245, 1);
        position: relative;

        >input {
            width: 100%;
            line-height: 0.72rem;
            background: none;
            outline: none;
            border: 0px;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-appearance: none;
        }

        .login_phone_wrong_msg {
            width: .3.66rem;
            height: 0.5rem;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0.15rem;
            color: red;
            // border:0.01rem solid #F15A53;
            // border-radius:0.2rem;
            text-align: center;
            line-height: 0.5rem;
            display: none;
        }
    }
    .login_password_wrong_msg {
        width: .3.66rem;
        height: 0.5rem;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.15rem;
        color: red;
        // border:0.01rem solid #F15A53;
        // border-radius:0.2rem;
        text-align: center;
        line-height: 0.5rem;
        display: none;
    }
// login主体底部
    .login_footer {
        width: 100%;
        height: 4.04rem;
        padding-top: 0.32rem;
        box-sizing: border-box;
    }
    .login_footer_text {
        width: 100%;
        display: flex;
        padding-bottom: 0.48rem;
        box-sizing: border-box;

        .login_footer_forget {
            flex: 1;
            font-size: 0.24rem;
            font-weight: 800;
            line-height: 0.34rem;
            color: rgba(51, 51, 51, 1);
            // padding-left: 0.32rem;
            // box-sizing: border-box;
        }

        .login_footer_new {
            flex: 1;
            font-size: 0.24rem;
            font-weight: 800;
            line-height: 0.34rem;
            color: rgba(241, 90, 83, 1);
            text-align: right;
            padding-right: 0.32rem;
            box-sizing: border-box;
        }
    }

    .login_footer_now {
        width: 6.86rem;
        height: 0.84rem;
        background: rgba(239, 239, 239, 1);
        border-radius: 0.12rem;
        font-size: 0.26rem;
        text-align: center;
        line-height: 0.84rem;
        color: rgba(51, 51, 51, 1);
        font-weight: 800;
        margin-bottom: 0.96rem;
    }
    .login_footer_phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_phone_text {
        width: 3.18rem;
        height: 0.84rem;
        background: @bgC;
        border-radius: 0.12rem;
        font-size: 0.26rem;
        text-align: center;
        line-height: 0.84rem;
        font-weight: 800;
    }
    .login_phone_text::before {
        content: "";
        display: inline-block;
        width: 0.36rem;
        height: 0.36rem;
        .bgSet();
        background-image: url("../images/login_footer_phone_icon.png");
        background-position-y: 0.06rem;
    }

}


