<div class="tabbar-layout">
    <a href="./index.html" class="tabbar-item">
        <div class="tabbar-icon tabbar-home @@if(page === 'index') { tabbar-home-active }"></div>
        <span>首页</span>
    </a>
    <a href="./classify.html" class="tabbar-item">
        <div class="tabbar-icon tabbar-classify @@if(page === 'classify') { tabbar-classify-active }"></div>
        <span>分类</span>
    </a>
    <a href="./seller_list.html" class="tabbar-item">
        <div class="tabbar-icon tabbar-seller @@if(page === 'seller') { tabbar-seller-active }"></div>
        <span>商家</span>
    </a>
    <a href="./cart.html" class="tabbar-item">
        <div class="tabbar-icon tabbar-cart @@if(page === 'cart') { tabbar-cart-active }"></div>
        <span>购物车</span>
    </a>
    <a href="./personal.html" class="tabbar-item">
        <div class="tabbar-icon tabbar-personal @@if(page === 'personal') { tabbar-personal-active }"></div>
        <span>我的</span>
    </a>
</div>
