
@import "../../../styles/common.less";
@import "../../../styles/main.less";

#loan_layout{
  background-color:#FEFEFE;
}

.loan-swiper{
  width: 100%;
  height: 2.86rem;
  overflow: hidden;
  .imgAll;
}


















