

<div class="home-main-box-item">
    <div class="home-main-box-item-icon">
        <img src="http://bkqwmall.oss-cn-shenzhen.aliyuncs.com/images/2019-01-21/8188e23441279a98db3dd584671e048e.jpg" alt="">
    </div>
    <div class="home-main-box-item-content">
        <div class="home-main-box-item-name">顾家家具 定制家具椅子高端大气上档次</div>
        <div class="home-main-box-item-tab"><span class="tab-assemble"></span></div>
        <div class="home-main-box-item-price">
            <span class="price">28<i>个</i></span>
            <span class="buy">我要参与</span>
        </div>
    </div>
</div>
