@import "../../../styles/common.less";
@import "../../../styles/main.less";

.product-detail-swiper{
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
  position:relative;
}
.product-detail-box{
  width: 6.86rem;
  height: 3.58rem;
  background-color:rgba(255,255,255,1);
  box-shadow:0 0.08rem 0.32rem rgba(0,0,0,0.08);
  border-radius: 0.2rem;
  margin: 0.16rem auto;
  transform: translateY(-0.48rem);
  position: relative;
  z-index: 20;
  padding: 0.16rem 0 0 0.32rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-detail-price{
  width: 100%;
  height: 0.56rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.32rem;
}
.product-detail-price .price{
  font-size: 0.4rem;
  font-weight:bold;
  color:rgba(241,90,83,1);
}
.product-detail-price .old-price{
  font-size: 0.24rem;
  font-weight:400;
  color:rgba(153,153,153,1);
  margin-left: 0.16rem;
  text-decoration: line-through;
  margin-right: auto;
}
.product-detail-price .coupon{
  height: 0.32rem;
  line-height: 0.32rem;
  font-size: 0.24rem;
  font-weight:800;
  position:relative;
  padding-right: 0.32rem;
  color:rgba(241,90,83,1);
  &::after{
    content:"";
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.32rem;
    height: 0.32rem;
    display:inline-block;
    .bgSet(0.32rem 0.32rem);
    background-image: url("../images/more-red-icon.png");
  }
}
.product-detail-des{
  width: 100%;
  height: 0.84rem;
  font-size: 0.28rem;
  font-weight:400;
  color:rgba(51,51,51,1);
  .fontBreak(2, 0.42rem);
}
.product-detail-util{
  width: 100%;
  height: 0.42rem;
  display:flex;
  align-items: center;
}
.product-detail-util span{
  font-size: 0.24rem;
  font-weight:400;
  color:rgba(153,153,153,1);
}
.product-detail-attr{
  width: 100%;
  height: 0.84rem;
  flex:none;
  display:flex;
  align-items: center;
  border-top: 1px solid rgba(245,245,245,1);
  font-size: 0.26rem;
  font-weight:800;
  color:rgba(51,51,51,1);
  position: relative;
  overflow: hidden;
  &:active{
    opacity: 0.8;
  }
}
.product-detail-attr::before{
  content:"";
  width: 0.32rem;
  height: 0.32rem;
  display:inline-block;
  position:absolute;
  right: 0.16rem;
  top: 50%;
  transform: translateY(-50%);
  .bgSet(0.24rem 0.24rem);
  background-image: url("../images/more-icon.png");
}
// 店铺介绍
.product-detail-warp{
  width: 100%;
  display:flex;
  flex-direction: column;
  padding: 0.32rem 0;
}
.product-detail-shop{
  width: 6.86rem;
  height: 5.76rem;
  display:flex;
  flex:auto;
  flex-direction: column;
  box-shadow:0 0.08rem 0.32rem rgba(0,0,0,0.08);
  background-color:#fff;
  padding: 0 0.32rem;
  border-radius: 0.2rem;
  margin:0 auto;
}
.product-detail-header{
  width: 100%;
  height: 1.08rem;
  padding: 0 0.32rem;
  flex:none;
  display:flex;
  align-items: center;
  span{
    .yellowBottom();
  }
}
.product-detail-seller{
  width: 100%;
  height: 1.22rem;
  display:flex;
  align-items: center;
  flex:none;
  border-bottom: 1px solid rgba(245,245,245,1);
  .product-detail-seller-icon{
    width: 0.8rem;
    height: 0.52rem;
    flex:none;
    .imgAll
  }
  .product-detail-seller-name{
    flex:auto;
    margin: 0 0.32rem;
    height: 0.42rem;
    font-size: 0.26rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    .fontBreak(1, 0.42rem);
  }
  .product-detail-seller-button{
    .button-default;
    width:1.52rem;
    height: 0.66rem;
  }
}
.product-detail-plist-header{
  width: 100%;
  padding: 0.24rem 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.24rem;
  font-weight:800;
  color:rgba(51,51,51,1);
  span{
    font-size: 0.24rem;
    font-weight:800;
    color:rgba(241,90,83,1);
    position:relative;
    padding-right: 0.48rem;
    .hover-yellow-class;
    &:before{
      content:"";
      width: 0.34rem;
      height: 0.34rem;
      .bgSet(0.28rem 0.28rem);
      background-image: url("../images/more-red-icon.png");
      position:absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
// 店铺推荐商品
.product-detail-plist{
  padding: 0.16rem 0 0 0;
  width: 100%;
  flex:auto;
  display:flex;
  justify-content: space-between;
}
.product-detail-pitem{
  width: 1.86rem;
  height: 3.3rem;
  flex:none;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-detail-pitem > div{
  width: 100%;
  flex:none;
}
.product-detail-pitem-icon{
  width: 186rem;
  height: 1.86rem;
  flex:none;
  border-radius: 0.12rem;
  overflow: hidden;
  .imgAll;
}
.product-detail-pitem-name{
  width: 100%;
  height: 0.72rem;
  font-size: 0.24rem;
  font-weight:400;
  color:rgba(51,51,51,1);
  .fontBreak(2, 0.36rem);
}
.product-detail-pitem-price{
  height: 0.4rem;
  font-size: 0.28rem;
  font-weight:600;
  display:flex;
  align-items: center;
  color:rgba(241,90,83,1);
}
.product-detail-imgbox{
  width: 100%;
}
// 优惠券 - 弹框
.action-sheet-coupon{
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  z-index: -1000;
  opacity: 0;
  transition: all linear 0.4s;
}
.action-sheet-coupon-active{
  z-index: 1000;
  opacity: 1;
  transition: all linear 0.1s;
}
.action-sheet-coupon-mask{
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.6);
  z-index: -100;
  transition: all linear 0.2s;
}
.action-sheet-coupon-active .action-sheet-coupon-mask{
  z-index: 100;
  opacity: 1;
}

.product-detail-coupon-list{
  width: 100%;
  min-height:9rem;
  max-height:10rem;
  background:rgba(255,255,255,1);
  border-radius:0.2rem 0.2rem 0 0;
  position:absolute;
  left:0;
  bottom:-10rem;
  transition: all linear 0.2s;
  z-index: 200;
  padding: 0.32rem 0.32rem 1.08rem 0.32rem;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
.action-sheet-coupon-active .product-detail-coupon-list{
  bottom: 0;
}
.product-detail-coupon-header{
  width: 100%;
  height: 0.44rem;
  display:flex;
  align-items: center;
  flex:none;
  margin-bottom: 0.32rem;
  span{
    .yellowBottom()
  }
}
.product-detail-coupon-scroll{
  flex:auto;
  overflow-y: scroll;
}
.product-detail-coupon-footer{
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 1.08rem;
  display:flex;
  align-items: center;
  border-top: 1px solid rgba(239,239,239,1);
  padding: 0 0.32rem;
  background-color:#fff;
  div{
    .button-default
  }
}



